.card{
  color: black;
  margin-bottom: 25px;
}

#deck{
  background-color: rgba(0, 0, 125, 0.2);
}

.carte:hover{
  text-decoration: none;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

.taille{
  font-size: small;
}

.head{
  font-size: small;
  color: white;
  
}


.back{

  position: absolute;
  background-color: rgba(0, 0, 125, 0.2);
  width: 100%;
  height: 100%;
}

.carte{
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}








.plato{
  animation: move_up 4s ease-in-out;
}

@keyframes move_up {
  0% {
      opacity: 0;
      transform: translateX(-1000px);
  }
  20%{
      opacity: 0.7;
  }
  80% {
      
      transform: translateY(+10px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}
